variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
stages:
  - build
  - test
  - sonarqube_scan
  - run

# ---------- BUILD ----------
build_app_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $TAG_LATEST .
    - docker build -t $TAG_COMMIT .
    - docker push $TAG_LATEST
    - docker push $TAG_COMMIT

# ---------- DEPLOY ----------
deploy:
  stage: run
  image: alpine:latest
  script:
    - apk add --no-cache openssh-client
    - chmod 400 $SSH_PRIVATE_KEY
    
    - ssh -i $SSH_PRIVATE_KEY -o StrictHostKeyChecking=no ubuntu@43.209.12.47 "
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker pull $TAG_LATEST &&
        docker rm -f myapp || true &&
        docker run --rm -d -p 80:80 --name myapp -d $TAG_LATEST"
  environment:
    name: staging
    url: http://43.209.12.47

# ---------- TEST ----------
robot_tests:
  stage: test
  image: python:3.11-slim
  services:
    - name: $TAG_LATEST
      alias: app-service
  variables:
    APP_HOST: http://app-service:80
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt-get update && apt-get install -y chromium-driver
    - apt-get install -y curl
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install robotframework robotframework-seleniumlibrary
    - echo "Waiting for the service container ($APP_HOST) to start..."
    - timeout 60s bash -c 'while [[ "$(curl -s -o /dev/null -w "%{http_code}" $APP_HOST)" != "200" ]]; do sleep 2; done'
    - echo "Service container is up! Proceeding with tests."
  script:
    - robot --exitonfailure --variable BASE_URL:$APP_HOST --outputdir ./tests/results tests/ci/test.robot
  artifacts:
    when: always
    paths:
      - ./tests/results


# sonarcloud-check:
#   stage: sonarqube_scan
#   image:
#     name: sonarsource/sonar-scanner-cli:latest
#     entrypoint: [""]
#   cache:
#     key: "${CI_JOB_NAME}"
#     paths:
#       - .sonar/cache
#   script:
#     - sonar-scanner
#   only:
#     - merge_requests
#     - master
#     - develop